.main_div{
    width: 100%;
    height: 100vh;
    background:#6983aa ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_div{
    width: 25%;
    height: 80vh;
    background: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}
h1{
    color: white;
    background: transparent;
    background-color: #8565aa;
    padding: 6px 0px 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
}
 ol{
    margin-top:30px;
}  
button{
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color:transparent;
    background-color: #8566aa;
    color:#fff;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5) ;
}
button:hover{
    color:green;
}
span{
    font-size: x-large;
}
input{
    text-align: center;
    height: 30px;
    top:10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}
ol li{
    padding-left: 0%;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
     min-height: 40px;
    display: flex;
    align-items: center;
    color:#8565aa;
    text-transform: capitalize;
    
    }
    .fa-times{
      width: 20px;
      height: 20px;
      background-color: #8565aa;
      border-radius: 50%;
      margin: 0 15px 0 35px;
      color: aliceblue;
      box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5) ;
    }